# Learn how to acquire a Discord token: https://docs.discord.com/developers/quick-start/getting-started#fetching-your-credentials
DISCORD_TOKEN=""

# Sentry integration (leave empty or remove to disable)
SENTRY_DSN=""
SENTRY_ENVIRONMENT=""